@mixin font($size, $height: $size) {
  font-size: $size;
  line-height: $height;
}

@mixin columns ($width) {
  display: flex;
  justify-content: space-between;

  >* {
    flex-basis: $width;
  }
}

// Responsive
@mixin media-laptop {
  @media (max-width: $content-width) {@content;}
}
@mixin media-tablet {
  @media (max-width: $tablet-width) {@content;}
}
// Для мобильного- 414px
@mixin media-mobile {
  @media (max-width: $mobile-big-width) {@content;}
}

// Для мобильного- 320px
@mixin media-mobilesmall {
  @media (max-width: $mobile-small-width) {@content;}
}