.icon-square {
  width: 89px;
  height: 89px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-square_blue {
  background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
  border: 5px solid $color-squareBlue;
}

.icon-square_orange {
  background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%);
  border: 5px solid $color-squareOrange;
}

.icon-square_violet {
  background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);
  border: 5px solid $color-squareViolet;
}

.icon-square_figma {
  background-image: url("../img/figma.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.ico_text {
  @include font($size: 1.8rem, $height: 2.2rem);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-squareBlue;
}

.ico_text-html {
  color: $color-squareOrange;
  flex-wrap: wrap;
}

.ico_text-react {
  color: $color-squareViolet;
}

.icon-stars {
  background-image: url("../img/Star.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 26.07px;
  height: 26px;
}

.icon-stars_grey {
  background-image: url("../img/grey-star.svg");
}