.layout-4-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 83px;
  width: 943px;
}

.layout-4-column > * {
  flex-basis: 25%;
  text-align: center;
}
.skills__container {
}